body {
  background-color: #bebebe;
  font-family: Arial, Helvetica, sans-serif;
}

article > div {
  /* tutti i quadrati di esempio */
  width: 150px;
  height: 150px;
  border: 1px solid black;
  /* centro la scritta nel contenuto */
  display: flex;
  justify-content: center;
  align-items: center;
}

article > div > p {
  /* tolgo i margini al p */
  margin: 0;
}

.translate {
  background-color: orange;
  /* traslo l'elemento a destra e in alto */
  transform: translate(200px, -30px);
  /* valori + della X -> DESTRA */
  /* valori + della Y -> BASSO */
}

.rotate {
  background-color: cyan;
  transform: rotate(65deg);
  /* valori + -> ORARIO */
  /* valori - -> ANTIORARIO */
}

.scale {
  background-color: green;
  transform: scale(1.35, 0.6);
  /* valori superiori a 1 -> INGRANDISCE */
  /* valori inferiori a 1 -> RIMPICCIOLISCE */
}

.skew {
  background-color: blueviolet;
  transform: skew(30deg, 20deg);
}

.multi {
  background-color: deeppink;
  transform: translate(100px, 30px) scale(1.25) rotate(45deg);
  /* potete combinare questi effetti insieme mantenendo un'unica
  applicazione della proprietà tranform ma concatenando i vari
  rotate, translate, scale eccetera con dei caratteri SPAZIO */
}
